.img{
    height: 200px;
    width: 200px;
    border-radius: 150px;
    margin-top: 80px;
}
.hero{
display: flex;
align-items: center;
flex-direction: column;
gap:35px;
}

.hero h1{
    text-align: center;
    width: 70%;
    font-size: 45px;
    font-weight: 700;
   
}
.hero h1 span{
    background:linear-gradient(270deg,#DF8908 10%,#B415FF 100%) ;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hero p{
    width: 50%;
    text-align: center;
    font-size: 20px;
    line-height:30px ;
}

.hero-action{
    display: flex;
    align-items: center;
    gap: 25px;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 50px;
}

.hero-connect{
    padding: 15px 75px;
    border-radius: 50px;
    font-size: 20px;
    background:linear-gradient(270deg,#DF8908 10%,#B415FF 100%) ;
    cursor: pointer;
}

.hero-resume{
    padding: 13px 70px;
    border-radius: 50px;
    border: 2px solid #fff;
    cursor: pointer;
}
.hero-connect:hover{
    border: 2px solid white;  
}

.hero-resume:hover{
    border-color: #B415FF;
}